certifi==2021.5.30
chardet==4.0.0
Faker==8.8.2
idna==2.10
python-dateutil==2.8.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
text-unidecode==1.3
undetected-chromedriver==3.0.2
urllib3==1.26.5
websockets==9.1
